@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {

    
    margin: 0 auto;


}


.nav-bar {
    display: flex;
    justify-content: space-around;

    margin: 20px;
}

.nav-title>strong {
    color: rgb(14, 14, 14);
    font-size: 32px;
    font-weight: bolder;
    margin-right: 515px;
}

/* nav title animation moving for optional    */
.nav-title:hover {

    position: relative;
    animation: mymove 5s infinite;
    animation-timing-function: linear;
}

  /*------- animation effect on nav bar optional  */
@keyframes mymove {
    from {
        left: 0px;
    }

    to {
        left: 200px;
    }
}

.signIn-btn>.signin {
    /* -----------sign in button boder css  */
    width: 106px;
    height: 42px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 30px 15px 30px;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;

    /* -------------sign in button font css  */
    color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 14.3px;
    font-weight: 510;
    transition: background-color 0.5s ease;
}

/* hover effect on sign in nav button for => extra mark  */
.signin:hover {
    background-color: rgb(0, 106, 80);
    color: white;
}

/* -----------------banner area bangladesh 2.0 section css here */
.bangladesh-banner {
    display: flex;
    justify-content: center;
    border-radius: 24px;
    background: rgb(198, 228, 214);

    width: 1000px;
    height: 406px;
    margin: 0 auto;
    padding: 40px;
    align-items: center;
    gap: 180px;

}
.banner-image {
    width: 310px;
    height: 279px;

}

.banner-image img {
    width: 100%;
    transition: 1s;
}

.banner-image img:hover {
    transform: scale(1.5);
    cursor: pointer;
}


.banner-title {
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 22px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 10px;

}

.idea-description {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 46px;
    font-weight: 500;
    line-height: 47px;
    margin-bottom: 25px;
}

.banner-button {
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    width: 229px;
    height: 47px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 30px 15px 30px;
    border: none;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

/* hover effect on banner button for extra mark  */
.banner-button:hover {
    background-color: rgb(243, 19, 19);
}

/* header section css end here  ----------X-------- */

/* The vision of future section css  */
.future-vision-container {
    margin: 0 auto;
    width: 1080px;
    height: 476px;
    margin-top: 80px;
    align-items: center;
    


}

.future-vision-cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
    gap: 30px;


}

.transformation {
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
    width: 539px;
    height: 300px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: box-shadow 0.5s ease;
    cursor: pointer;
}

/* hover effect on vision cards for extra mark  */
.transformation:hover {
    box-shadow: rgba(14, 97, 240, 0.24) 10px 16px 10px;

}

.energy {
    border-radius: 16px;
    background: rgb(198, 228, 214);
    width: 549px;
    height: 300px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: box-shadow 0.5s ease;
    cursor: pointer;
}

/* hover effect on vision cards for extra mark  */
.energy:hover {
    box-shadow: rgba(43, 245, 218, 0.24) 10px 16px 10px;

}

.infrastructure {
    border-radius: 16px;
    background: rgb(247, 235, 207);
    width: 549px;
    height: 300px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: box-shadow 0.5s ease;
    cursor: pointer;
}

/* hover effect on vision cards for extra mark  */
.infrastructure:hover {
    box-shadow: rgba(233, 17, 17, 0.24) 10px 16px 10px;

}

.vision-title {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 34px;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 20px;

}

.vision-description {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 25px;
}

.transformation-btn {
    border-radius: 5px;
    border: none;
    background: rgb(84, 144, 245);
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 14px;
   
    width: 103px;
    height: 34px;
    display: flex;
    
    justify-content: center;
    
    padding: 10px 15px 9px 15px;
    margin: 24px 0px;
    
    transition: background-color 0.5s ease;
    cursor: pointer;
}

/* hover effect on sign in vision card buttons for extra mark  */
.transformation-btn:hover {
    background-color: rgb(87, 51, 146);
    color: white;
}

.energy-btn {
    border-radius: 5px;
    border: none;
    background: rgb(9, 161, 92);
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 14px;
    
    width: 103px;
    height: 34px;
    display: flex;
    
    justify-content: center;
    align-items: center;
    padding: 10px 15px 9px 15px;
    margin: 24px 0px;
    
    transition: background-color 0.5s ease;
    cursor: pointer;
}

/* hover effect on sign in vision card buttons for extra mark  */
.energy-btn:hover {
    background-color: rgb(162, 240, 36);
    color: white;
}

.infrastructure-btn {
    border-radius: 5px;
    border: none;
    background: rgb(255, 194, 57);
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 14px;
    width: 103px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px 9px 15px;
    margin: 24px 0px;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

/* hover effect on sign in vision card buttons for extra mark  */
.infrastructure-btn:hover {
    background-color: rgb(247, 119, 14);
    color: white;
}

/* for all vision section card titles  */
.vision-card-titles {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
    margin-top: 20px;
}

/* for all vision section cards descriptions css */

.vision-card-descriptions {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left
}

/* yunus speech description css start here  */

.future-vision-message {
    width: 1088px;
    height: 320px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 30px 25px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin-top: 80px;
    align-items: center;
    gap: 180px;


    transition: box-shadow 0.5s ease;
    cursor: pointer;
}

/* hover effect on yunus sir message for extra mark  */
.future-vision-message:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 16px 10px;

}

.yunus-speech {
    background-image: url(../images/quote-bg.png);
    background-repeat: no-repeat;
}

.speech {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 25px;
    padding-bottom: 10px;
}

.yunus-name {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 8px;

}

.yunus-designation {
    color: rgba(14, 14, 14, 0.6);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

}

/* yunus speed description css end here  -------X--------- */


/* recent news satelite starts here  */


.recent-news-container {
    width: 80%;
    margin: 0 auto;
    
    border-radius: 16px;
    margin-top: 80px;
    margin-bottom: 90px;
    align-items: center;
   
}

.recent-news-title {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 600;
    line-height: 88px;

}

.recent-news-description {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: justify;

}

/* common css for recent news three boxs  */
.recent-news-boxs {
    display: flex;
    justify-content: space-evenly;
    padding: 48px;
    border-radius: 24px;
    background: rgb(255, 255, 255);
    margin: 20px 0;
    transition: background-color 0.5s ease;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* hover effect on recent news button for extra mark  */
.recent-news-boxs:hover {
    background-color: rgb(170, 85, 144);
}

.recent-news-boxs h2 {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
}

.recent-news-boxs p {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 5px;
}

.recent-news-boxs button {
    border-radius: 8px;
    background: rgb(0, 106, 80);
    width: 118px;
    height: 40px;
    padding: 11px 22px 11px 22px;
    margin: 27px 0px;
    color: white;
    border: none;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 15px;
    font-weight: 500;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

/* hover effect on recent news button for extra mark  */
.recent-news-boxs button:hover {
    background-color: rgb(10, 3, 8);
    color: white;
}

.news-box1-left img {
    border-radius: 24px;
    width: 346 px;
    height: 260px;
    margin: 0 27px;

}

.news-box2-right img {
    border-radius: 24px;
    width: 346 px;
    height: 260px;
    margin: 0 27px;

}

.news-box3-left img {
    border-radius: 24px;
    width: 346 px;
    height: 260px;
    margin: 0 27px;

}

/* ----------------donate part css here  */
.donate-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 1088px;
    height: 450px;
    margin: 0 auto;
    transition: background-color 0.5s ease;
    border-radius: 5px;
    padding: 10x;
    transition: background-color 0.5s ease;
    
}



.donate-description h1 {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 34px;
    font-weight: 600;
    line-height: 50px;
    text-align: center;
}

.donate-description p {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 20px;
}

.money-buttons button {
    width: 204 px;
    height: 120px;

    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;

    background: rgb(255, 255, 255);
    padding: 40px;
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0%;
    margin: 5px 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

/* hover effect on money buttons  for extra mark  */
.money-buttons button:hover {
    background-color: rgb(58, 143, 108);
    color: rgb(116, 95, 95);
}
/* i take this hover css  effect from internet for learning  */
.money-buttons:hover> :not(:hover) {
    filter: blur(5px);
    opacity: 0.5;

}

.amount input {

    width: 877px;
    height: 54px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    border: none;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(255, 255, 255);
    color: rgba(14, 14, 14, 0.3);
    font-family: Fira Sans;
    font-size: 17px;
    font-weight: 400;
    margin-top: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    outline: none;

}

#second-button {
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;

    background: rgb(198, 228, 214);
}

.done-button button {

    width: 128px;
    height: 47px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 28px 14px 28px;
    margin: 32px 0px;
    border: 1px solid rgba(14, 14, 14, 0.1);
    border-radius: 8px;
    background: rgb(0, 106, 80);

    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;

    transition: background-color 0.5s ease;
    cursor: pointer;
}

/* hover effect on done now button for extra mark  */
.done-button button:hover {
    background-color: rgb(216, 49, 49);
    color: white;
}


.newsletter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    width: 935px;
    height: 135px;
    padding: 80px 85px 80px 85px;
    margin-top: 68px;
}

.newsletter-content h1 {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 34px;
    font-weight: 600;
    line-height: 80px;


}

.newsletter-content p {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 20px;

}

.newsletter-content input {
    width: 510px;
    height: 46px;
    border-radius: 8px 0px 0px 8px;

    background: rgb(255, 255, 255);
    border: none;
    padding-left: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 20px;
    outline: none;
}

.newsletter-content button {
    width: 127px;
    height: 47px;
    border-radius: 0px 8px 8px 0px;

    background: rgb(0, 106, 80);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;

    transition: background-color 0.5s ease;
    cursor: pointer;
}

/* hover effect on news letter subscribe button for extra mark  */
.newsletter-content button:hover {
    background-color: rgb(216, 49, 49);
    color: white;
}

footer {
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255);

    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 42px 136px 42px 136px;
    margin-top: 40px;

}

.footer-contents .icons img {
    margin-top: 50px;
    padding: 6px;
    cursor: pointer;
}

.footer-contents h2 {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* ---------------------------pillars css start----------------------------------------- here  */
.pillar-title {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 30px;
    font-weight: 600;
    line-height: 4px;
    margin-bottom: 20px;

}

.pillar-container {
    margin: 0 auto;
    width: 1088px;

    margin-top: 80px;
    align-items: center;


    /* background-color: brown; */
}

.pillar-cards {
    position: static;
    display: flex;
    justify-content: space-around;
    align-items: center;



    height: 440px;
    width: 100%;

}

.card {
    margin-left: 20px;
    text-align: left;
    position: static;
    width: 630px;
    height: 274px;
    padding: 20px 40px 70px 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;

    background: rgb(255, 255, 255);
    transition: background-color 0.5s ease;
    cursor: pointer;
}

/* hover effect on money buttons  for extra mark  */
.pillar-cards:hover> :not(:hover) {
    filter: blur(5px);
    opacity: 0.5;

}



.pillar-card-titles {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
    margin-top: 20px;
}

/* for all vision section cards descriptions css */

.pillar-card-descriptions {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: start
}

/* this css is for the all cards icon images  */
.pillar-cards img {
    width: 50px;
    height: 45px;
}

.future-vision-cards img{
    width: 50px;
    height: 50px;
}
/* opinio area css start here ------------ */
.opinion-container h1{
    margin: 70px 0 20px 130px;
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;

}
.opinion-option-container {
    border-radius: 16px;


    border-radius: 16px;

    background: rgb(255, 255, 255);
    border: 1px solid rgba(14, 14, 14, 0.15);
    width: 1088px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

table {
    border-collapse: collapse;
    border-radius: 16px;


}

td {

    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgba(255, 255, 255, 0.1);
}

.table-col1 {

    width: 765px;
    height: 17px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
}

.table-col2 {
    width: 170px;
    height: 28px;

    text-align: center;

}

select {

    border: 1px solid rgb(14, 14, 14);
    border-radius: 4px;

    background: rgb(198, 228, 214);

    width: 129px;
    height: 47px;


    justify-content: center;
    align-items: center;

    padding: 10px 14px 10px 14px;




}

th {

    background: rgb(198, 228, 214) !important;
    border: none;
    /* Frame 2087325495 */

    width: 129px;
    height: 72px;

    text-align: justify;
}